body{
  margin:0 auto;
  font-family:"Hiragino Kaku Gothic ProN";
  background-color:#FFFFEE;
  text-align: center;
}
.title{
  color:#4689FF;
  background-color:#CEF9DC;
  font-size:32px;
  text-align: center;
  height:100px;
  line-height:100px;
  border-bottom:2px solid #CCCCCC;
  margin:0;
  opacity:0.7;
  letter-spacing: 5px;
}

.top-wrapper {
  height: 200px;
  padding:0 100px 20px 100px;
  border-bottom: 2px solid #CCCCCC;
}

.contaner {
  padding:0 15px;
  margin:0 auto;
}


h2 {
  font-size:23px;
  color:#333333;
  margin-top:50px;
  letter-spacing: 3px;
}

.container p{
  opacity:0.8;
  font-size: 15px;
}

span{
  color:#0000DD;
  font-weight:bold;
}

h3 {
  font-size: 18px;
  color:#808080;
  letter-spacing: 3px;
}

.travel-world{
  height:700px;
  border-bottom: 2px solid #CCCCCC;
}


.travel-photo {
  display:flex;
  list-style: none;
  margin:50px;
}

.travel-photo li{
  flex:auto;
}

.travel-photo p{
  color:#333333;
  font-size: 13px;
}

h4 {
  font-size:18px;
  color:#7B3CFF;
  margin-bottom:30px;
  letter-spacing: 5px;
}

.skill {
  height: 500px;
  border-bottom: 2px solid #CCCCCC;
}


.skill-contents{
  display:flex;
}

.skill-icon{
  flex:auto;
  position:relative;
  margin:30px 0;
}

.skill-icon p{
  position: absolute;
  top:65px;
  width:100%;
  color:white;
  font-size:18px;
  opacity:1;
}

.conclusion{
  height: 300px;
}

.conclusion p {
  padding:30px 100px;
  opacity:0.8;
  font-size: 15px;
}
